.header__logo {
    position: absolute;
    top: 0;
    left: 0;

    width: 142px;
    min-height: 33px;

    background-image: url(../../../images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}