.cards__image {
    max-width: 282px;
    min-height: 282px;

    border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 1279px) and (min-width: 320px) {
    .cards__image {
        max-width: 100%;
    }
}